* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
}

.d-flex {
    display: flex;
}

.p-top {
    padding-top: 80px;
}

.border_bottom {
    border-bottom: 1px solid $colorbrown;
}