#site_main {
    height: 2000px;
    width: 100%;
    .jumbotron {
        height: 550px;
        margin: auto;
        padding-top: 100px;
        .menu_jumbo {
            width: 50%;
            h1 {
                font-size: 55px;
                color: $colorbrown;
            }
            p {
                font-size: 25px;
                color: $colorbrown;
            }
            .sign_up {
                padding: 60px 0 40px 0;
                width: 100%;
                .btn-small {
                    padding: 10px 15px;
                    border-radius: 5px;
                    border: 1px solid $colorblue;
                    background-color: $colorblue;
                    color: white;
                    text-decoration: none;
                    img {
                        width: 25px;
                        padding-right: 5px;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $colorbrown;
                i {
                    padding: 5px;
                }
            }
        }
        .img_jumbo {
            width: 50%;
            background-image: url("../img/illustration-main.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .section_traditional {
        background-color: $colorpink;
        height: 500px;
        padding-top: 80px;
        .traditional_menu {
            margin: auto;
            .traditional_text {
                color: $colorbrown;
                width: 65%;
            }
            .traditional_cards {
               width: 100%;
               .card {
                   width: calc(100% / 3);
                   img {
                       width: 200px;
                   }
               }
            }
        }
    }
}