#site_main {
    height: 2000px;
    width: 100%;
    .jumbotron {
        margin: auto;
        padding-top: 100px;
        flex-wrap: wrap;
        .menu_jumbo {
            width: 50%;
            h1 {
                font-size: 55px;
                color: $colorbrown;
            }
            p {
                font-size: 25px;
                color: $colorbrown;
            }
            .sign_up {
                padding: 60px 0 40px 0;
                width: 100%;
                .btn-small {
                    padding: 10px 15px;
                    border-radius: 5px;
                    border: 1px solid $colorviolet;
                    background-color: $colorviolet;
                    color: white;
                    text-decoration: none;
                    img {
                        width: 25px;
                        padding-right: 5px;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $colorbrown;
                i {
                    padding: 5px;
                }
            }
        }
        .img_jumbo {
            width: 50%;
            background-image: url("../img/illustration-main.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .section_traditional {
        background-color: $colorsky;
        height: 500px;
        padding-top: 80px;
        flex-wrap: wrap;
        .traditional_menu {
            margin: auto;
            .traditional_text {
                color: $colorbrown;
                text-align: center;
                padding-bottom: 60px;
                h2 {
                    padding: 0 250px 50px 250px;
                    font-size: 35px;
                }
            }
            .traditional_cards {
               width: 100%;
               flex-wrap: wrap;
               .card {
                   text-align: center;
                   width: calc(100% / 3);
                   padding-bottom: 20px;
                   img {
                       width: 200px;
                   }
               }
            }
        }
    }
}